<div class="step1-view" ng-controller="demoController as vm">
	<table class="table-container">
        <tr>
            <td class="table-detail-section" rowSpan='3'>
    			<h4>Step 1: Detail</h4>
    		    <span>Content goes here</span>
    	    </td>
            <td class='table-spacer'/>
            <td class="table-summary-section" data-ng-click="vm.setRouteExplicit('/step2')">
                <h4>
                    Step 2: Summary
                </h4>
                <span>Content goes here</span>
            </td>
        </tr>
        <tr>
            <td class='table-spacer' />
        </tr>
        <tr>
            <td class='table-spacer'/>
            <td class="table-summary-section" data-ng-click="vm.setRouteExplicit('/step3')">
                    <h4>Step 3: Summary</h4>
                    <span>Content goes here</span>
            </td>
        </tr>
    </table>
</div>
